01_evidence/original/*
01_evidence/working/*
03_analysis/tool_outputs/*
!**/.gitkeep
*.raw
*.mem
*.vmem
*.dmp
*.dd
*.img
*.E01
*.e01
*.pcap
*.pcapng
*.evtx
*.vhd
*.vhdx
*.vmdk
*.iso
*.zip
*.7z
*.rar
*.exe
*.dll
*.sys
.env
*.key
*.pem
__pycache__/
.venv/
